@model MovieList.Models.Movie

<div>
    <h3>Are you sure you want to delete this?</h3>
    <br />
    <dl class="row">
        <dt class="col-sm-1">
            Name
        </dt>
        <dd class="col-sm-11">
            @Model.Name
        </dd>
        <dt class="col-sm-1">
            Year
        </dt>
        <dd class="col-sm-11">
            @Model.Year
        </dd>
        <dt class="col-sm-1">
            Genre
        </dt>
        <dd class="col-sm-11">
            @Model.Genre.Name
        </dd>
        <dt class="col-sm-1">
            Rating
        </dt>
        <dd class="col-sm-11">
            @Model.Rating
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MovieId" />
        <button type="submit" class="btn btn-danger" >Delete</button> |
        <a asp-controller="Home" asp-action="Index">Cancel</a>
    </form>
</div>
